<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LENS. Cut your links!</title>

    <link type="text/css" rel="stylesheet" href="css/mdb.min.css" />
    <link type="text/css" rel="stylesheet" href="sass/style.css" />
</head>
<body>
    <div>
        <h1>Data of your link</h1>
        <ul>
            <li>Your link: <%= link.link %></li>
            <li>Your lens link: <%= link.lensLink %></li>
            <li>Your views: <%= link.views %></li>
        </ul>
    </div>

    <script src="js/mdb.min.js"></script>
</body>
</html>