<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LENS. Cut your links!</title>

    <link type="text/css" rel="stylesheet" href="css/mdb.min.css" />
    <link type="text/css" rel="stylesheet" href="sass/style.css" />
</head>
<body>
    <div class="ms-5 pt-5">
        <h1 class="welcome fg-color">Welcome to LENS</h1>
        <p>LENS is a software to cut your links!</p>
        <ul>
            <li>Easy</li>
            <li>Fast</li>
            <li>Lite</li>
            <li>Cross platform</li>
        </ul>
        <p>To get started, head over to <a href="'/new">create link</a> page!</p>
    </div>

    <script src="js/mdb.min.js"></script>
</body>
</html>