<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LENS. Cut your links!</title>

    <link type="text/css" rel="stylesheet" href="css/mdb.min.css" />
    <link type="text/css" rel="stylesheet" href="sass/style.css" />
</head>
<body>
    <h1>Welcome to LENS</h1>

    <script src="js/mdb.min.js"></script>
</body>
</html>